<div class="modal fade" id="CardAddForm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <form action="">
          <div class="modal-header">
            <h5 class="modal-title">Card Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body">
            <div>
              <label for="CardType">Select Card type<span class="text-danger">*</span></label>
              <select id="cardtype" name="CardType" appautofocus="" class="form-control ng-pristine ng-valid ng-touched">
                <option value="0: 1" class="ng-star-inserted">MasterCard</option>
                <option value="1: 3" class="ng-star-inserted">Visa</option>
                <option value="2: 4" class="ng-star-inserted">Maestro</option>
                <option value="3: 2" class="ng-star-inserted">Other</option>
                <!---->
              </select>
                </div>

            <div class="mb-3">
              <label for="CardNumber">CardNumber<span class="text-danger">*</span></label>
              <input type="password" name="cardnumber" class="form-control" id="Username" placeholder="Enter Card Number">
          </div>


            <div class="mb-3">
              <label for="Name">Card holder Name<span class="text-danger">*</span></label>
              <input type="text" name="name" class="form-control" id="Name" placeholder="">
          </div>

          <div class="mb-3">
            <label for="CVV">CVV<span class="text-danger">*</span></label>
            <input type="password" name="cvv" class="form-control" id="CVV" >
        </div>


          </div>
          <div class="modal-footer pt-4">
            <button type="button" class="btn btn-success mx-auto w-100">Save</button>
          </div>



      </form>
    </div>
  </div>
</div>

